.book-detail {
    width: 70%;
    margin: 0 auto;
    .cus-img {
        img{
            width: 30%;
            padding: 15px 25px 15px 15px;
        }
        .wrap-img-div {
            padding: 15px;
        }
    }
}
