//定制默认的一些颜色
//蓝绿色的
$color-primary: #1abc9c;
//翠绿色的
$color-success: #2ecc71;
//浅蓝色
$color-info: #3498db;
//太阳色，橙色，橘黄色
$color-warning: #f1c40f;
//橘红色
$color-danger: #e74c3c;
//浅一点午夜颜色
$color-inverse: #34495e;
//午夜颜色
$color-midnight: #2C3E50;
//深灰色，银色
$color-default: #bdc3c7;
//按钮禁用,上面的颜色opacity:0.75
$color-disabled: rgba(189,195,199,0.75);
